body {
  margin: 0px;
  padding: 0px;
  font-family: PingFang SC, "Helvetica Neue", Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, sans-serif;  
}
article {
  font-size: 12px;
}